
<!DOCTYPE html>
<html>
<head>
	<title>Chordal Analysis</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
					<li><a href="#dataset">Data Set</a></li>
					<li><a href="#methodology">Methodology</a></li>
					<li><a href="#performance">Performance Analysis</a></li>
					<li><a href="#results">Results</a></li>
					<li><a href="#conclusion">Conclusion</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="page-header">
		<h1> Automating Parameter Selection for REPET </h1>
		<h4> <a href="http://cs.northwestern.edu/~pardo/courses/eecs352">Northwestern University EECS 352</a></h4>
		<h4>Instructor Bryan Pardo</h4>
	</div>
	<div class='container'>
		<article id="paper">
			<section id ="overview">
				<h2>Overview</h2>
				<p>
					We want to make a web application that uses machine learning to easily predict parameters for REPET original with soft masking to source separate audio files. Users will upload audio files, and our application will present the user with two versions of the source separation, one with our predicted parameters and one with the default parameters. 
				</p>
			</section>
			<section id ="dataset">
				<h2>Data Set </h2>
				We are in the process of gathering LooperMan and FreeSound sound files to build our training dataset. All files will be converted to 16 bit, mono, 44.1kHz to make sure our construction from the foreground and background is consistent.
			</section>
			<section id='methodology'>
				<h2>Methodology</h2>

			</section>
			<section id="performance">
				<h2> Performance Analysis</h2>
			</section>
			<section id ="results">
				<h2>Results</h2>
				Coming soon...
			</section>
			<section id ="conclusion">
				<h2>Conclusion</h2>
				Coming soon...
			</section>
			<article>
			</div>
		</div>
	</div>
</body>
</html>